
body {
    font-size: 1em;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    background: #d5d6d7;
    color: #333;
    text-align: left;
}

.contact_form {
    width: 500px;
    margin: 20px;
}

.contact_form input,
.contact_form .text_area {
    width: 100%;
    margin-bottom: 20px;
}

.contact_form .text_area {
    text-align: center;
}

textarea {
    margin: auto
}

.button {
    width: 200px !important;
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    opacity: 0.6;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    float: right;
}

.button:hover {
    opacity: 1
}

.results {
    border: 4px solid #00af3c;
}

.errors {
    border: 4px solid red;
}

.errors div,
.results div {
    width: 100%
}
